.wc_rs_license_key, .wp-core-ui .button.wc_rs_deactivate {
	display: inline-block;
	vertical-align: middle;
}

.wp-core-ui .button.wc_rs_deactivate {
	margin-left: 5px;
}

.rs-notice-dismiss {
	float: right;
	line-height: 36px;
	text-decoration: none;
}

.wp-core-ui .wc-rs-modal-add-tax-state .button.select_all,
.wp-core-ui .wc-rs-modal-add-tax-state .button.select_none {
    margin-top: 5px;
}